@font-face {
  font-family: 'RuneScape Chat';
  src: url('@/assets/fonts/RuneScape-Chat-07.eot');
  src:
    url('@/assets/fonts/RuneScape-Chat-07.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/RuneScape-Chat-07.woff2') format('woff2'),
    url('@/assets/fonts/RuneScape-Chat-07.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RuneScape Chat';
  src: url('@/assets/fonts/RuneScape-Chat-Bold-07.eot');
  src:
    url('@/assets/fonts/RuneScape-Chat-Bold-07.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/RuneScape-Chat-Bold-07.woff2') format('woff2'),
    url('@/assets/fonts/RuneScape-Chat-Bold-07.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
