@mixin button {
  text-align: center;
  font-size: 26px;
  line-height: 1;
  padding: 0.5rem 1rem;
  color: var(--rfi-black);
  background-color: var(--rfi-yellow);
  border: none;
  cursor: pointer;
}
