.text-button {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--rfi-yellow);
  background-color: transparent;
  font-family: var(--rfi-font-charted);
  font-size: 52px;
  line-height: 1;
  user-select: none;
}
